/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    bcl2fastq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {

    input_dir                       = null
    output-dir                      = null
    use-bases-mask                  = null
    create-fastq-for-index-reads    = false
    fastq-cluster-count             = 4000000
    positions-dir                   = null
    positions-format                = .clocs
    filter-dir                      = null
    intensities-dir                 = null
    sample-sheet                    = SampleSheet.csv
    tiles                           = null
    no-eamss                        = null
    flowcell-id                     = null
    mismatches                      = 0
    ignore-missing-stats            = null
    ignore-missing-bcl              = null
    ignore-missing-control          = null
    with-failed-reads               = null
    adapter-sequence                = None
    adapter-stringency              = 0.9
    
}