/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    bcl2fastq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
________________________________________________________________________________________
*/

// Global default params, used in configs


params.input_dir                       = false
params.output_dir                      = false
params.use_bases_mask                  = ""
params.create_fastq_for_index_reads    = false
params.fastq_cluster_count             = 4000000
params.positions_dir                   = false
params.positions_format                = ".clocs"
params.filter_dir                      = false
params.intensities_dir                 = false
params.sample_sheet                    = "SampleSheet.csv"
params.tiles                           = false
params.no_eamss                        = false
params.flowcell_id                     = false
params.mismatches                      = 0
params.ignore_missing_stats            = false
params.ignore_missing_bcls             = false
params.ignore_missing_controls         = false
params.with_failed_reads               = false
params.adapter_sequence                = "None"
params.adapter_stringency              = 0.9
params.minimum_trimmed_read_length     = 8
params.mask_short_adapter_reads        = 8
params.ignore_missing_positions        = false
params.ignore_missing_filter           = false
params.no_lane_splitting               = false

